.custom-button {
  min-width: 15rem;
  width: auto;
  height: 5rem;
  letter-spacing: 0.5px;
  line-height: 5rem;
  padding: 0 2rem 0 2rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-family:'Ubuntu', sans-serif;
  border-radius:3px;
  margin-left: 1rem;
  box-shadow: 2.5px 3px #888888;
}
@media (max-width: 600px) {
  .cutom-button {
      font-size:1rem;
      padding: 0 1rem 0 1rem;
  }
}
.custom-button:hover{
  background-color:darkgray;
  color: #4a4a4a;
  

}

.custom-button.google-sign-in {
  background-color:#4285f4;
  color:white;
  box-shadow: 2.5px 3px #888888;
}
@media (max-width: 600px) {
  .custom-button.google-sign-in{
    font-size:1rem; }
}
.custom-button.google-sign-in:hover {
  background-color:#357ae8;
}

.inverted:hover {
  background-color:darkgray;
  color: #4a4a4a;
}

.inverted {
  background-color: #fff;
  color: #4a4a4a;
  border: none;
}