.sign-in{
  margin-top: 3rem;
  width: 50rem;
  
}
@media (max-width: 600px) {
  .sign-in  {width:35rem; }
}
.sign-in .title {
  margin:0;
  font-size:3rem;
}

@media (max-width: 600px) {
  .sign-in .title {font-size:1.5rem; }
}

@media (max-width: 600px) {
  .sign-in > span {font-size:1.5rem; }
}

.buttons {
  display: flex;
  justify-content: left;
}

