.cart-dropdown {
  position:absolute;
  width: 25rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid black;
  background-color: #888888;
  top: 11rem;
  right: 3rem;
  z-index: 5;
  overflow-y: scroll;
}

.span.empty-message {
  font-size: 2.5rem;
  margin: 4rem auto;

}



button {
  margin-top: auto;
}