.cart-icon{
  width: 5rem;
  height: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shopping-cart{
  width: 3rem;
  height: 3rem;
}

.item-count {
  position: absolute;
  color:#fff;
  font-size: 1rem;
  font-weight: bold;
  bottom: 2.2rem;
  right: 1.4rem;
}