.sign-up{
  margin-top: 3rem;
  width: 50rem;
}
@media (max-width: 600px) {
  .sign-up  {width:35rem; }
}

.sign-up .title {
  margin: 0;
  font-size: 3rem;
  }

span {
  font-size: 2rem;
}

@media (max-width: 600px) {
  .sign-up .title {
    font-size:1.5rem;
    margin-top:3rem;
   }
}

@media (max-width: 600px) {
  .sign-up > span {font-size:1.5rem; }
}