.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 50px auto 0;

  
}
@media (max-width: 920px) {
  .checkout-page{
    width: 65%;
}
}

@media (max-width: 600px) {
  .checkout-page{
    width: 75%;
}
}

@media (max-width: 600px) {
  .checkout-page{
    width: 85%;
}
}


@media (max-width: 920px) {
  .checkout-header span{
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .checkout-header span{
    font-size: 1rem;
  }
}




.checkout-page .checkout-header {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4a4a4a;
}

.checkout-page .checkout-header .header-block {
  width: 23%;
  
}

.checkout-page .checkout-header .header-block:last-child {
  width: 8%;
}

.total {
  font-weight:700;
  margin-top:2rem;
  margin-left: 40%;

}

.total > span{
  font-weight:600;
  font-size:2.5rem;
  margin-left:auto;
  
}


@media (max-width: 1200px) {
  .checkout-page .total span {
    font-size: 2rem;
    font-weight:500;
  }
}

@media (max-width: 900px) {
  .checkout-page .total span {
    font-size: 1.5rem;
    font-weight:400;
  }
}

.test-warning {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.5rem;
  color: #af2d2d;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .text-warning {
    text-align: left;
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .text-warning{
    text-align:left;
    font-size: 1rem;
  }
}

button {
  margin-left:80%;
  margin-top: 3rem;
}