.header {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

@media screen and (max-width: 800px) {
  height: 6rem;
  padding: 0.8rem;
}
  }

.logo-container {
  height: 100%;
  width: 7rem;
  @media (max-width: 800px) {
    width: 6rem;
    padding: 0
  
  }
}

.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .header .option{
    font-size: 1.5rem;
    padding: 1rem 1rem;
    font-weight: 500;
}
}

@media (max-width: 560px) {
  .header .option{
    font-size: 1rem;
    padding: 1rem 1rem;
    font-weight: 500;
}
}

.option {
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  @media (max-width: 800px) {
    font-size: 1.5rem;
  }
}

.header img{
  height: 6rem;
  width: 6rem;
}

@media (max-width: 560px) {
  .header img{
  height: 4.5rem;
  width: 4.5rem;
}
}