  
.checkout-item {
  width: 100%;
  display: flex;
  min-height: 8rem;
  border-bottom: 1px solid #4a4a4a;
  padding: 1rem 0;
  font-size: 2rem;
  align-items: center;
}

.checkout-item .image-container {
  width: 23%;
  padding-right: 1rem;
}

.checkout-item .image-container > img {
  width: 100%;
  height: 100%;
  }

.checkout-item .title{ 
  width: 23%;
  font-size: 1.5rem;
  margin-top: 0;
  word-wrap: normal;
}

@media (max-width: 500px) {
  .checkout-item .title{
    font-size: 1rem;
}
}

.checkout-item .quantity{
  width: 23%;
  font-size: 2rem;
  margin-top:0;
  display: flex;
}

@media (max-width: 500px) {
  .checkout-item .quantity {
    font-size: 1rem;
}
}

.checkout-item .quantity .value{
  margin: 0 1rem;
}

@media (max-width: 500px) {
  .checkout-item .quantity .value {
    font-size: 1rem;
}
}

.checkout-item .quantity .arrow{
  cursor: pointer;
}

.checkout-item .price {
  width: 23%;
  font-size: 2rem;
  font-weight:400;
  margin-top:1rem;
}

@media (max-width: 500px) {
  .checkout-item .price{
    font-size: 1rem;
}
}

.checkout-item .remove-button {
  padding-left: 1rem;
  cursor: pointer;
}

@media (max-width: 500px) {
  .checkout-item .remove-button{
    font-size: 1rem;
}
}
