.menu-item {
  min-width: 33%;
  height: 26rem;
  text-align:center;
  margin: 2rem 2rem;
  overflow: hidden;
  position:relative;
  background-color:#fff;
  border-radius:3px;
  align-items: center;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2); 
} 

.menu-item:hover {
  border-radius: 0.4rem; 
  border: 0.8rem solid #FFFFFF;
  transform: scale(1.30) translateX(-.5rem);
  Z-index:500;
  
}

.menu-item:hover .custom-button {
  width: 30%;
  opacity: 0.9;
  padding: 0 1rem 0 1rem;
  z-index:3000;
  min-width: 10rem;
  height: 2.5rem;
  box-shadow: 1.5px 2.5px rgba(74, 74, 74, 0.8);
  line-height: 0;
  font-size:1rem;
  position:absolute;
  bottom: 42%;
  left:34%;
  display:block;
}

@media (max-width: 1000px) {
  .menu-item:hover .custom-button{
    bottom:42%;
    left:34%;
}
}

@media (max-width: 600px) {
  .menu-item:hover .custom-button{
    bottom:50%;
    left:29%;
}
}



.menu-item .custom-button {
  display:none;
}

.background-image{
  background-size:cover;
  height:85%;

}
.menu-item .original {
  display:none;
}

.menu-item:hover .original {
  display:block;
  max-width:100%;
  height:auto;
 
}

.menu-item:hover .background-image {
  display:none;
}

.content {
  height: 15%;
  width:100%;
  padding: 0 1.5rem; 
  position: absolute;  
  line-height:0;
  opacity:0.7;
  box-shadow: 0 2.5rem 4rem rgba(#222831, .6); 
}

.art-title {
  font-weight: bold;
  margin-top:2rem;
  margin-bottom:9px;
  font-size: 1rem;
  color: #4a4a4a; 
  float:left;
  }

.price {
  font-weight: bold;
  margin-top:2rem;
  margin-bottom:9px;
  font-size: 1rem;
  color: #4a4a4a; 
  float:right;
}
.menu-item:hover .content {
  display:none;
}

