.footer{
  display:inline-block;
  width:100%;
  text-align: center;
  color:#4a4a4a;
  font-size:2rem;
  font-weight:600;
  margin-top:10rem;
}

@media (max-width: 600px) {
  .footer {font-size:1.5rem; }
}