.shrink {
 display:none;
}

.group {
  position:relative; 
  margin:4rem 0;

}

.form-input {
  background:none;
  background-color: #888888;
  color:#4a4a4a;
  font-size: 2rem;
  padding: 1rem 1rem 1rem 0.5rem;
  display:block;
  width:80%;
  border:none;
  border-radius:0;
  border-bottom:1px solid #4a4a4a;
  margin:2rem 0;
}
@media (max-width: 600px) {
  .form-input {widows: 60px;
              font-size:1.5rem; }
}
.form-input:focus {
  outline:none;
}

.form-input:focus ~ .form-input-label {
  display:none
}

input[type='password'] {
  letter-spacing: 0.3rem;
}

.form-input-label {
  color:#4a4a4a;
  font-size: 2rem;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top: 10px;
  transition: 300ms ease all;
}
@media (max-width: 600px) {
  .form-input-label {font-size:1.5rem; }
}
.form-input-lable.shrink {
 display:none
}