.sign-in-and-sign-up {
  width: 100rem;
  margin: 2rem auto;
  display:grid;
  grid-template-columns:auto;
  
}
@media (min-width: 1000px) {
  .sign-in-and-sign-up { grid-template-columns: repeat(2, 1fr); }
}
