.cart-item {
  width:100%;
  display:flex;
  height:8rem;
  margin-bottom: 1.5rem;
  
}

.cart-item > img {
  width: 40%;
 
}

.cart-item .item-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: top;
  line-height:0;
  margin-left:2rem;
}

.item-details .title {
  font-size: 1rem;
  word-wrap:normal;
  margin-top:2rem;
}

.item-details .price {
  font-size: 1rem;
  margin-top:2rem;
}

